RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F
NOTIFICATION_EMAIL_QUEUE=notification.email.queue
NOTIFICATION_MAX_RETRIES=5
# Future channels (push/sms) can reuse same queue with channel field.

EMAIL_HOST=mail.adnproservice.com
EMAIL_PORT=465
EMAIL_HOST_USER=no-reply@adnproservice.com
EMAIL_HOST_PASSWORD=change-me
EMAIL_USE_SSL=True
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=no-reply@adnproservice.com
